@import "../_variables";

.header {
  padding-left: $headerPadding;
  padding-right: $headerPadding;
  display: flex;
}

.header__login {
  margin-left: auto;
  text-align: right;
}

.header__home {
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: $tablet) {
  .header {
    padding-left: $headerPaddingMobile;
    padding-right: $headerPaddingMobile;
    font-size: 1.5rem;
  }

  .header__home {
    font-size: 1.5rem;
  }
}
