// layout sizes
$handheld:			576px;
$tablet:			767px;
$desktop:           991px;
$desktop-large:     1140px;
$container-width:	1440px;

//padding
$mainPadding: 5rem;
$searchPadding: 1rem;
$headerPadding: 10rem;
$mainPaddingMobile: 3rem;
$headerPaddingMobile: 1rem;
