@import '~bootstrap/scss/bootstrap';
@import "search/search";
@import "offer/offer";
@import "header/header";
@import "_variables";

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

