<div class="search search__wrapper d-flex text-center justify-content-center" {{ stimulus_controller('search') }}>
    <div class="align-items-center" style="display: grid; grid-template-columns: 1fr 2fr; grid-gap: 24px;">
        <div class="w-bold fs-11">What kind of job are you looking for?</div>
        <div class="header-content--search">
            <div class="header-content--search search-form">
                <form action="javascript:void(0)"
                      class="search-form__form"
                        {{ stimulus_action('search', 'submit') }}>
                    <div class="input-group search-form__input-group"
                         style="background-color: white; border-bottom: 2px solid #EEE;">
                        <input type="text"
                               class="p-t-12 p-b-12 p-l-8 p-r-8 form-control search-form__input"
                               placeholder="Java Developer..."
                               aria-label="Java Developer..."
                               id="search-input"
                               checked>
                        <div class="input-group-append">
                            <button class="btn search-form__submit" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

