@import "../_variables";

.search {
  padding-top: $searchPadding;
  padding-bottom: $searchPadding;
}

.wrapper {
  padding-top: $mainPadding;
  padding-bottom: $mainPadding;
}

.sorryInfo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  min-width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: $handheld) {
  .wrapper {
    padding-top: $mainPaddingMobile;
    padding-bottom: $mainPaddingMobile;
  }
}
